## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Demo - ${self.demo_name()}</title>
<script type="text/javascript" src="onering://onering/onering.js"></script>
<script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/json2.js"></script>
<script type="text/javascript">
    ${self.js()}
</script>
${self.extra_head()}
<style type="text/css" src="/static/sinaweibodemo.css"></style>
<style type="text/css">
    ${self.css()}
</style>
</head>
<body>
    <article>
        <div class="bodyScroll">
        ${next.body()}
        </div>
    </article>
    <footer id="demo_footer">
        <a href="/">&lt; Back to the demo homepage</a>
        | <a href="javascript:ONERING.getCurrentWindow().showInspector()">Show Inspector</a>
    </footer>
</body>
</html>

<%def name="demo_name()"></%def>
<%def name="js()"></%def>
<%def name="extra_head()"></%def>
<%def name="css()"></%def>
