<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>内容模板</title>
<script type="text/javascript" src="onering://onering/onering.js"></script>
</head>
<body>
<div class="bodyScroll">
  <div class='project clearfix'>
	<div class='user'><a href='http://weibo.com/hikerlive' target='_blank'><img src='http://www.baidu.com/img/baidu_sylogo1.gif' width='46' height='46' alt=''/></a></div>
	<div class='mesbody clearfix'>
		<div class='padd'>
			<div class='mestitle'>
				<div class='bt'> <strong><a href='http://weibo.com/hikerlive' target='_blank'>hikerlive</a>:</strong><span id='share'>1分钟前&nbsp;</span>分享给&nbsp;大家;</div>
			</div>
			<div class='bl_f14 clearfix'>onering框架是什么？</div>
			
			<div class='replyList'>
			  <div class='replyItem_t'>共有<strong>3</strong>条互动记录&nbsp;</div>
			  <div class='replyItems'>
			    <div class='replyItem'>
				    <div class='mestitle'>
						<div class='bt'>
						  <strong><a href='http://weibo.com/hikerlive' target='_blank'>zhuawa</a>:</strong>
						  <span id='share'>2分钟前&nbsp;</span>分享给&nbsp;大家;
						</div>
				    </div>
				    <div class='bl_f14 clearfix'>这是第一条回复，你想说明什么？</div>
			    </div>
			  </div>
			</div>
			
			<div class='sourceInfo'>
			    <div class='mestitle'>
					<div class='bt'>
					  <strong><a href='http://weibo.com/hikerlive' target='_blank'>obama</a>:</strong>
					  <span id='share'>5分钟前&nbsp;</span>分享给&nbsp;大家;
					</div>
					<div class='bl_f14 clearfix'>这是根消息，我正使用onering构建一个web应用程序，我想知道如何对内容进行模板化？</div>
			    </div>			
			</div>
		</div>
	</div>
  </div>
</div>
</body>
</html>

